<div class="container-body" style="width:100%">

  <div class="profile-info" >
    <img src="assets/profile.png" alt="Profile Photo" style="height: 100px; ">
    <div style="padding:2%">
      <h1 style="font-size: 25px;">Kathryn Murphy <i class="pi pi-star " style=" color: yellow;"></i> </h1>
    <div style="display: flex; gap:20px">
      <div>
        <h3>
          FOLLOWERS</h3>
        <h3> 333</h3>
      </div>
      <div>
        <h3>PROJECTS</h3>
        <h3>26</h3>
      </div>
      <div>
        <h3>COLLECTIONS</h3>
        <h3>17</h3>
      </div>

      <div>
        <h3>SHOTS</h3>
        <h3>130</h3>
      </div>
    </div>

    </div>
  
   
   
  </div>
  <div style=" display: flex; gap:5px ;">

    <i class="pi pi-bookmark icons" style="   background-color: rgb(97, 97, 239);"> </i>
    <i class="pi pi-heart  icons" style=" background-color: rgb(80, 201, 80); "></i>
    <i class="pi pi-bars  icons" style=" background-color: rgb(187, 112, 240);"></i>


  <!-- <p class="followers">Followers: 100</p> -->

</div> 
 

 