<div style="margin:30px;">
<body style="display: flex; justify-content: space-between; background-color:transparent; height: auto;  margin-bottom: 15px; ">
    <app-block-card
[title]="'Orders'"
[icon]="'pi pi-shopping-cart'"
[price]="'152'"
[number]="'24 new'"
[text]="'since last week'"

></app-block-card>
<app-block-card
[title]="'Revenue'"
[icon]="'pi pi-map-marker'"
[price]="'$2.100'"
[number]="'%52+ '"
[text]="'since last week'"

></app-block-card>
<app-block-card
[title]="'Customers'"
[icon]="'pi pi-user-plus'"
[price]="'28441'"
[number]="'520'"
[text]="'newly registered'"
></app-block-card>
<app-block-card
[title]="'Comments'"
[icon]="'pi pi-comment'" 
[price]="'152 Unread'"
[number]="'85 '"
[text]="'responded'"

></app-block-card>
</body>
<!-- <mat-divider class="divider"></mat-divider> -->
<div style="display: flex; justify-content: space-between;">
    <app-reusable-container></app-reusable-container>
    <app-reusable-container></app-reusable-container>
</div>

</div>
<div style="padding:1%;">
    <h1>Timeline</h1>
    <div style="display: flex; padding:2%">
    
        <!-- <i class="pi pi-bars  icons" style=" background-color: rgb(187, 112, 240);"></i>
        <mat-divider class="divider" ></mat-divider> -->

        <div class="menu-icon-container">
            <button mat-icon-button class="menu-button">
              <mat-icon>menu</mat-icon>
            </button>
            <div class="vertical-line"></div>
          </div>
    
    <mat-card class="post-card">
        <mat-card-header>
          <mat-card-title>Jacob Jones</mat-card-title><span>1 minute ago</span>
          <!-- <mat-card-subtitle>â¢ Date</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Sollicitudin nibh sit amet commodo nulla. Mauris in aliquam sem fringilla ut morbi
        </mat-card-content>
        <mat-card-actions style="display: flex; gap:5px">
          <button mat-icon-button >
            <mat-icon>favorite_border</mat-icon>  
    
          </button>
          <span>0</span>
          <button mat-icon-button>
            <mat-icon>comment</mat-icon>
           
          </button>
          <span>1</span>
          <button mat-icon-button>
            <mat-icon>share</mat-icon>
         
          </button>
          <span>24</span>
        </mat-card-actions>
      </mat-card>
</div>
<div style="display: flex; padding:2%">
    
    <!-- <i class="pi pi-bars  icons" style=" background-color: rgb(187, 112, 240);"></i>
    <mat-divider class="divider" ></mat-divider> -->

    <div class="menu-icon-container">
        <button mat-icon-button class="menu-button">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="vertical-line"></div>
      </div>

<mat-card class="post-card">
    <mat-card-header>
      <mat-card-title>Jacob Jones</mat-card-title><span>1 minute ago</span>
      <!-- <mat-card-subtitle>â¢ Date</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
        Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Sollicitudin nibh sit amet commodo nulla. Mauris in aliquam sem fringilla ut morbi
    </mat-card-content>
    <mat-card-actions style="display: flex; gap:5px">
      <button mat-icon-button >
        <mat-icon>favorite_border</mat-icon>  

      </button>
      <span>0</span>
      <button mat-icon-button>
        <mat-icon>comment</mat-icon>
       
      </button>
      <span>1</span>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
     
      </button>
      <span>24</span>
    </mat-card-actions>
  </mat-card>
</div>
<div style="display: flex; padding:2%">
    
    <!-- <i class="pi pi-bars  icons" style=" background-color: rgb(187, 112, 240);"></i>
    <mat-divider class="divider" ></mat-divider> -->

    <div class="menu-icon-container">
        <button mat-icon-button class="menu-button">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="vertical-line"></div>
      </div>

<mat-card class="post-card">
    <mat-card-header>
      <mat-card-title>Jacob Jones</mat-card-title><span>1 minute ago</span>
      <!-- <mat-card-subtitle>â¢ Date</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
        Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Sollicitudin nibh sit amet commodo nulla. Mauris in aliquam sem fringilla ut morbi
    </mat-card-content>
    <mat-card-actions style="display: flex; gap:5px">
      <button mat-icon-button >
        <mat-icon>favorite_border</mat-icon>  

      </button>
      <span>0</span>
      <button mat-icon-button>
        <mat-icon>comment</mat-icon>
       
      </button>
      <span>1</span>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
     
      </button>
      <span>24</span>
    </mat-card-actions>
  </mat-card>
</div>

</div>


