
.photo-container {
    position: relative;
    width: 100%;
  }
  
  .photo-container img {
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0px;
    left:350px;
    /* width: 100%;
    height: 100%; */
  /* Semi-transparent overlay */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 600px;
    /* width: 1200px; */
    background: linear-gradient(to bottom,white 80%,blue);
    box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.1)
  }
  
  .text {
    color: black;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .text-above {
    position: absolute; 
    top: 20%; 
    left: 20%; 
  
  }

  .vedio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }