<div class="photo-container" style="padding:0%; margin:0%">
    <img  class='photo' src="/assets/background.PNG" style="width: 100%;" alt="Photo">
    <div class="overlay" >



      <div class="text" style="flex-direction: column;">
 <h1 style="font-size:40px; padding-top:5%; font-weight: bold;">Angular UI Blocks</h1>
 <h2 style="font-size:40px; font-weight: bold; color:rgb(115, 124, 222)">Powered by PrimeNG</h2>
 <h4 style="line-height: 1; text-align: center;"><span style="font-weight: bold;">400+</span> ready to use UI blocks to build spectacular
  <br> applications in no time.</h4>
      </div>
      <div class="video">
        <iframe width="420" height="236" src="https://www.youtube.com/embed/XNRevmRLb70" title="Building a Landing Page with Angular" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

     
      </div>
    </div>

   
  </div>
