<!-- <div>
   
    <ul (click)="toggleOption()">
        <h2>{{options}}</h2>
        <ul *ngIf="showOption">
            <h3>{{option1}}</h3>
            <h3>{{option2}}</h3>
            <ul (click)="toggleOption()">
                <h2>{{options2}}</h2>
                <ul *ngIf="showOption">
                    <h3>{{option3}}</h3>
                    <h3>{{option4}}</h3>
                    <h3>{{option5}}</h3>
    
                </ul>
    
            </ul>
   
     
        <h3>{{option6}}</h3>
       
     
      </ul>
    </ul>
  </div> -->


