<div style="padding-right:2%">

    <div class="input-group">
        <div class="right-side">  
         <i class="pi pi-search"></i> 
        <input type="search" class="search-input" placeholder="Search" aria-label="Search" aria-describedby="search-addon">
        <div class="search-icon">
           
        </div>
       
        
       
        </div>
        <div class="leftt-side">
            <i class="pi pi-bell"></i>
            <i class="fa fa-shopping-bag"></i>
            <img class="profile-icon" src="assets/profile.png" alt="Profile Photo">
            
        </div>
    
    </div>
    </div>
    
