.block-header {
    display: flex;

    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #ddd;
  }
  .preview-button {
    color: #007bff;
    background-color: #fff;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .right-header{
    display: flex;
    gap:20px;
}