<body style="background-color: transparent; width:100% ">
<app-app-block-header style="width:100%; padding:0%; margin:0%" [title]="'sidebar'"></app-app-block-header>
<mat-divider class="divider"></mat-divider>
<div style="display: inline-flex; width: 100%; background-color: transparent;"> 
    <app-app-block-sidebar style=" padding-right:3px; background-color: white;"></app-app-block-sidebar>
    <mat-divider class="divider"></mat-divider>
    <div style="width: 100%;">

        <app-app-block-search></app-app-block-search>
<mat-divider class="divider"></mat-divider>

<app-app-block-body-header></app-app-block-body-header>
<mat-divider class="divider"></mat-divider>

<app-block-body-content></app-block-body-content>


    </div>
</div>

  

</body>
