
<body style="padding:0%; margin:0%">
  
<app-background></app-background>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Application Shells</mat-card-title>
        </mat-card-header>
        <mat-card-content>
    
          <mat-divider></mat-divider>
        </mat-card-content>
        <div>
        <app-card [blockDetailsPage]="'/blockContainer'"
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-stackedlayout.svg'"
            [title]="'Stacked Layout'"
            [numberofblocks]="'7 Blocks'"></app-card>
    
            <app-card [blockDetailsPage]="'/blockContainer'"
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-sidebarlayouts.svg'"
            [title]="'Sidebar Layout'"
            [numberofblocks]="'13 Blocks'"></app-card>
            <app-card [blockDetailsPage]="'/blockContainer'"
            [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-multicolumnlayouts.svg'"
            [title]="'Multi Column Layout'"
            [numberofblocks]="'3 Blocks'"></app-card>
        </div>
      
    
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Samples</mat-card-title>
        </mat-card-header>
        <mat-card-content>
    
          <mat-divider></mat-divider>
        </mat-card-content>
        <div>
            <app-card [blockDetailsPage]="'/blockContainer'"
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-dashboard.svg'"
            [title]="'Dashboard'"
            [numberofblocks]="'3 Blocks'"></app-card>
    
            <app-card [blockDetailsPage]="'/blockContainer'"
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-detailscreens.svg'"
            [title]="'Detail'"
            [numberofblocks]="'2 Blocks'"></app-card>
            <app-card [blockDetailsPage]="'/blockContainer'"
            [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-settingscreens.svg'"
            [title]="'Setting'"
            [numberofblocks]="'3 Blocks'"></app-card>
        </div>
      
    
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Headings</mat-card-title>
        </mat-card-header>
        <mat-card-content>
    
          <mat-divider></mat-divider>
        </mat-card-content>
        <div>
            <app-card [blockDetailsPage]="'/blockContainer'"
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-pageheadings.svg'"
            [title]="'Page Heading'"
            [numberofblocks]="'14 Blocks'"></app-card>
    
        <app-card
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-cardheadings.svg'"
            [title]="'Card Heading'"
            [numberofblocks]="'7 Blocks'"></app-card>
            <app-card
            [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-sectionheadings.svg'"
            [title]="'Section Heading'"
            [numberofblocks]="'8 Blocks'"></app-card>
        </div>
      
    
      </mat-card>
    
    
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Data Display</mat-card-title>
        </mat-card-header>
        <mat-card-content>
    
          <mat-divider></mat-divider>
        </mat-card-content>
        <div>
            <app-card [blockDetailsPage]="'/blockContainer'"
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-descriptionlist.svg'"
            [title]="' Description List'"
            [numberofblocks]="'4 Blocks'"></app-card>
    
        <app-card
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-stats-data.svg'"
            [title]="'Stats'"
            [numberofblocks]="'11 Blocks'"></app-card>
    
        </div>
      
    
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Lists</mat-card-title>
        </mat-card-header>
        <mat-card-content>
    
          <mat-divider></mat-divider>
        </mat-card-content>
        <div>
            <app-card [blockDetailsPage]="'/blockContainer'"
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-stackedlists.svg'"
            [title]="'  Stacked List'"
            [numberofblocks]="'6 Blocks'"></app-card>
    
        <app-card
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-gridlists.svg'"
            [title]="' Grid List'"
            [numberofblocks]="'9 Blocks'"></app-card>
            <app-card
            [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-feeds.svg'"
            [title]="'Feed'"
            [numberofblocks]="'3 Blocks'"></app-card>
        </div>
      
    
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Forms</mat-card-title>
        </mat-card-header>
        <mat-card-content>
    
          <mat-divider></mat-divider>
        </mat-card-content>
        <div>
            <app-card [blockDetailsPage]="'/blockContainer'"
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-formlayouts.svg'"
            [title]="'Form Layout'"
            [numberofblocks]="'4 Blocks'"></app-card>
    
            <app-card [blockDetailsPage]="'/blockContainer'"
            [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-signin.svg'"
                [title]="'Sign-in'"
                [numberofblocks]="'5 Blocks'"></app-card>
    
        <app-card
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-radiogroups.svg'"
            [title]="'Radio Group'"
            [numberofblocks]="'7 Blocks'"></app-card>
            <app-card
            [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-actionpanels.svg'"
            [title]="'Action Panel'"
            [numberofblocks]="'6 Blocks'"></app-card>
        </div>
      
    
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Feedback</mat-card-title>
        </mat-card-header>
        <mat-card-content>
    
          <mat-divider></mat-divider>
        </mat-card-content>
        <div>
            <app-card [blockDetailsPage]="'/blockContainer'"
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-alert.svg'"
            [title]="'Alert'"
            [numberofblocks]="'4 Blocks'"></app-card>
        </div>
      
    
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Navigation</mat-card-title>
        </mat-card-header>
        <mat-card-content>
     
          <mat-divider></mat-divider>
        </mat-card-content>
        <div>
            <app-card [blockDetailsPage]="'/blockContainer'"
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-app-navbar.svg'"
            [title]="' Navbar'"
            [numberofblocks]="'12 Blocks'"></app-card>
    
        <app-card
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-tabs.svg'"
            [title]="' Tabs'"
            [numberofblocks]="'6 Blocks'"></app-card>
            <app-card
            [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-verticalnavigation.svg'"
            [title]="' Vertical Navigation'"
            [numberofblocks]="'7 Blocks'"></app-card>
            <app-card [blockDetailsPage]="'/blockContainer'"
            [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-sidebarnavigation.svg'"
                [title]="' Sidebar Navigation'"
                [numberofblocks]="'5 Blocks'"></app-card>
        
            <app-card
            [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-breadcrumb.svg'"
                [title]="' Breadcrumbs'"
                [numberofblocks]="'5 Blocks'"></app-card>
                <app-card
                [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-steps.svg'"
                [title]="' Steps'"
                [numberofblocks]="'7 Blocks'"></app-card>
                <app-card
                [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-footers-appui.svg'"
                [title]="' Footer'"
                [numberofblocks]="'3 Blocks'"></app-card>
        </div>
      
    
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>  <mat-card-title>Overlays</mat-card-title></mat-card-header>
        <mat-card-content>
    
          <mat-divider></mat-divider>
        </mat-card-content>
        <div>
            <app-card [blockDetailsPage]="'/blockContainer'"
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-dialog.svg'"
            [title]="'Dialog'"
            [numberofblocks]="'8 Blocks'"></app-card>
    
        <app-card
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-slideovers.svg'"
            [title]="'SlideOver'"
            [numberofblocks]="'11 Blocks'"></app-card>
            <app-card
            [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-notification.svg'"
            [title]="'Notification'"
            [numberofblocks]="'10 Blocks'"></app-card>
            <app-card
            [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-commandmenu.svg'"
            [title]="'Command Menu'"
            [numberofblocks]="'6 Blocks'"></app-card>
        </div>
      
    
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Pages</mat-card-title>
        </mat-card-header>
        <mat-card-content>
    
          <mat-divider></mat-divider>
        </mat-card-content>
        <div>
            <app-card [blockDetailsPage]="'/blockContainer'"
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-pagenotfound.svg'"
            [title]="'Page Not Found'"
            [numberofblocks]="'4 Blocks'"></app-card>
        </div>
      
    
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Layout</mat-card-title>
        </mat-card-header>
        <mat-card-content>
    
          <mat-divider></mat-divider>
        </mat-card-content>
        <div>
            <app-card [blockDetailsPage]="'/blockContainer'"
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-containers.svg'"
            [title]="'Container'"
            [numberofblocks]="'5 Blocks'"></app-card>
    
        <app-card
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-panels.svg'"
            [title]="'Panel'"
            [numberofblocks]="'4 Blocks'"></app-card>
            <app-card
            [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-listcontainers.svg'"
            [title]="'List Container'"
            [numberofblocks]="'3 Blocks'"></app-card>
            <app-card
            [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-dividers.svg'"
            [title]="'Divider'"
            [numberofblocks]="'6 Blocks'"></app-card>
        </div>
      
    
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Samples</mat-card-title>
        </mat-card-header>
        <mat-card-content>
    
          <mat-divider></mat-divider>
        </mat-card-content>
        <div>
            <app-card [blockDetailsPage]="'/blockContainer'"
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-dashboard.svg'"
            [title]="'Dashboard'"
            [numberofblocks]="'3 Blocks'"></app-card>
    
        <app-card
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-detailscreens.svg'"
            [title]="'Detail'"
            [numberofblocks]="'2 Blocks'"></app-card>
            <app-card
            [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-settingscreens.svg'"
            [title]="'Setting'"
            [numberofblocks]="'3 Blocks'"></app-card>
        </div>
      
    
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Samples</mat-card-title>
        </mat-card-header>
        <mat-card-content>
    
          <mat-divider></mat-divider>
        </mat-card-content>
        <div>
            <app-card [blockDetailsPage]="'/blockContainer'"
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-dashboard.svg'"
            [title]="'Dashboard'"
            [numberofblocks]="'3 Blocks'"></app-card>
    
        <app-card
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-detailscreens.svg'"
            [title]="'Detail'"
            [numberofblocks]="'2 Blocks'"></app-card>
            <app-card
            [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-settingscreens.svg'"
            [title]="'Setting'"
            [numberofblocks]="'3 Blocks'"></app-card>
        </div>
      
    
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Samples</mat-card-title>
        </mat-card-header>
        <mat-card-content>
    
          <mat-divider></mat-divider>
        </mat-card-content>
        <div>
            <app-card [blockDetailsPage]="'/blockContainer'"
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-dashboard.svg'"
            [title]="'Dashboard'"
            [numberofblocks]="'3 Blocks'"></app-card>
    
        <app-card
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-detailscreens.svg'"
            [title]="'Detail'"
            [numberofblocks]="'2 Blocks'"></app-card>
            <app-card
            [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-settingscreens.svg'"
            [title]="'Setting'"
            [numberofblocks]="'3 Blocks'"></app-card>
        </div>
      
    
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Samples</mat-card-title>
        </mat-card-header>
        <mat-card-content>
    
          <mat-divider></mat-divider>
        </mat-card-content>
        <div>
            <app-card [blockDetailsPage]="'/blockContainer'"
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-dashboard.svg'"
            [title]="'Dashboard'"
            [numberofblocks]="'3 Blocks'"></app-card>
    
        <app-card
        [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-detailscreens.svg'"
            [title]="'Detail'"
            [numberofblocks]="'2 Blocks'"></app-card>
            <app-card
            [image]="'https://blocks.primeng.org/assets/images/placeholders/placeholder-settingscreens.svg'"
            [title]="'Setting'"
            [numberofblocks]="'3 Blocks'"></app-card>
        </div>
      
    
      </mat-card>
      
</body>


 


   